<h1>Start your Search</h1>
<form action="/search" method="get">
  <input name="search_param"></input>
</form>
<div>
  <ul class="list-group">
    <% @article.each do |art| %>
    <li class="list-group-item">
      <h3 id="headline"><%= art["headline"]["main"] %></h3>
      <p id="headline"><%= art["pub_date"] %></p>
      <p><%= art["snippet"] %></p>
      <%= link_to "Read more..", art["web_url"], target: "_blank" %>
      <%= button_to 'Save', {:controller => "news", :action => "create", :news => {:title => art["headline"]["main"], :snippet => art["snippet"], :url => art["web_url"]}} , :method=>:post  %>
     <!--  {:controller => "votes", :action => "create", :car_id => car.id, :user_id=> session[:user_id]} -->
      <button type="button" class="btn btn-info modal-btn" data-toggle="modal" data-target="#myModal">Open Modal</button>
    </li>
    <% end %>
  </ul>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div class="nform">
          <%= render 'form', news: @news %> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
